.activity{
    position: relative;
    width: 645px;
    height: 320px;
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 30px;
}

.activity > h4{
    position: absolute;
    font-size: 15px;
    font-weight: 700;
}

.recharts-legend-item-text{
    color: #74798C !important;
}