.navBarSide > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 20px;
}