.navBar{
    width: 100%;
}

.navBar ul{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.navBar ul li a{
    margin: 45px;
    font-size: 24px;
    color: white;
}