.sideBar{
    min-height: 989px;
    height: 100%;
    width: 117px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.copiryght{
    display: block;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin-bottom: 50px;
}