.default{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.default > a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 10%;
    height: 100px;
    color: white;
    border-radius: 10px;
    background-color:rgb(43, 151, 157);
}